<template bindable="tweets">
  <require from="./no-content.html"></require>
  <require from="./../helpers/date-format"></require>
  <require from="./../helpers/data-uri"></require>

  <div class="ui compact segments">

    <article repeat.for="tweet of tweets" class="ui compact segment ${$even ? '' : 'secondary'} tweet">
      <h5 class="ui dividing header">
        ${tweet.user.nickname}
        <div class="sub header">
          ${tweet.creation | dateFormat}
        </div>
      </h5>
      <p>${tweet.message}</p>
      <div class="ui medium bordered image" if.bind="tweet.image">
        <img src.bind="tweet.image | dataUri" alt="tweet-image"/>
      </div>
    </article>
    <no-content if.bind="tweets.length === 0" containerless text.bind="'No tweets available'"></no-content>

  </div>

</template>
